
<%= stylesheet_link_tag 'play' %>
<div class="title">
  <%= render :partial=>"login_popup" %>

  <h1>Trade #<%= @trade.id%></h1>
  <ul class="list-inline">
    <li>
      <a href="/results/<%= @trade.id%>">Results?</a>
    </li>
    <li class="footer-menu-divider">⋅</li>
    <li>
      <a href="/play">New Trade?</a>
    </li>
    <li class="footer-menu-divider">⋅</li>
    <li>
      <a href="/play/<%=rand(Trade.all.length)+1%>">Random Trade?</a>
    </li>
  </ul>
</div>

<%= render :partial=>"vote_quality" %>


<div class="trade_table_main">
  <table id="trade">
    <% @trade.teams.each do |team| %>
        <tr>
          <th><%=team.name%></th>
        <% team.players.each do |player| %>
            <td><%=player.name%></td>
        <%end%>
        </tr>
    <%end%>
  </table>
</div>
<div class="title">
  <h1>Who Says No?</h1>
</div>

<%= render :partial=>"vote_team" %>

<div class="share">
  <h3>Share Trade: <%= text_field_tag "link",nil, onclick: "this.select()",readonly: true, value: "http://127.0.0.1:3000/play/#{@trade.id}", class: "share_text"%></h3>
</div>
