<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<div class="title">

  <%= render :partial=>"login_popup" %>

  <h1>Trade #<%= @trade.id%></h1>
  <ul class="list-inline">
  <li>
    <a href="/play/<%= @trade.id%>">Vote!</a>
  </li>
  <li class="footer-menu-divider">⋅</li>
  <li>
    <a href="/play">New Trade?</a>
  </li>
    <li class="footer-menu-divider">⋅</li>
    <li>
      <a href="/play/<%=rand(Trade.all.length)+1%>">Random Trade?</a>
    </li>
  </ul>
</div>

<%= render :partial=>"vote_quality" %>


<div class="share">
  <h3>Share Trade: <%= text_field_tag "link",nil, onclick: "this.select()",readonly: true, value: "http://127.0.0.1:3000/play/#{@trade.id}", class: "share_text"%></h3>
  <%= pie_chart( {@trade.teams[0].name => @trade.team1_votes,"Both" => @trade.both_votes,"Neither" => @trade.neither_votes,@trade.teams[1].name => @trade.team2_votes}, :library=> {:colors => ["red","black","green","blue"]}) %>
</div>
