<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<div class="title">
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">×</span>
      <p>You must be logged in to vote.</p>
      <p>Click <a href="/login">here</a> to login.</p>
    </div>

  </div>
  <h1>Trade #<%= @trade.id%></h1>
  <ul class="list-inline">
  <li>
    <a href="/play/<%= @trade.id%>">Vote!</a>
  </li>
  <li class="footer-menu-divider">⋅</li>
  <li>
    <a href="/play">New Trade?</a>
  </li>
    <li class="footer-menu-divider">⋅</li>
    <li>
      <a href="/play/<%=rand(Trade.all.length)+1%>">Random Trade?</a>
    </li>
  </ul>
</div>

<div class="voteq">
  <%= form_for :quality, remote: true, url: "/voteq/#{@trade.id}" do |f| %>
      <%= f.submit "upvote", :id=>"vote_up" %>
  <% end %>
  <h3 id="quality"><%=@trade.quality%></h3>
  <%= form_for :quality, remote: true, url: "/voteq/#{@trade.id}" do |f| %>
      <%= f.submit "downvote", :id=>"vote_down" %>
  <% end %>
</div>
<% if current_user and current_user.voted_up_on? @trade %>
    <script><%= render :partial=>"up_quality.js.erb" %></script>
<% elsif current_user and current_user.voted_down_on? @trade %>
    <script><%= render :partial=>"down_quality.js.erb" %></script>
<% end %>


<div class="share">
  <h3>Share Trade: <%= text_field_tag "link",nil, onclick: "this.select()",readonly: true, value: "http://127.0.0.1:3000/play/#{@trade.id}", class: "share_text"%></h3>
  <%= pie_chart( {@trade.teams[0].name => @trade.team1_votes,"Both" => @trade.both_votes,"Neither" => @trade.neither_votes,@trade.teams[1].name => @trade.team2_votes}, :library=> {:colors => ["red","black","green","blue"]}) %>
</div>
